*{margin: 0%;
    padding: 0;
    box-sizing: border-box;}



    header{
        background-color: black;
        height: 60px;
        margin: auto auto;
        position: fixed;
        z-index: 99;
        width: 100%;
    
    }
    
    .container_header{
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }
    
    .logo{width: 322px;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    margin: 13px 103px;}
    
    .nav_header{
        display: flex;
       justify-content: space-evenly;
       align-items: center;
        width: 755px;
        height: 100%;
        }
    
    .nav_header a{color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    }


        .botao_hamburguer {
            display: none;
        }






.conteudo_banner {
    background-image: url(../imagem/banner\ backgroud.png);
display: flex;
align-items: center;
width: 100%;
height: 540px;
margin-top: 0px;
}

.conteudo_banner img {
    width: 55vw;
height: 73vh;
margin-top: 85px;
}

.texto_banner {
    display: flex;
color: #fff;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
margin-left: 87px;
height: 211px;
}

.texto_banner h1 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 55px;
}

.texto_banner p {
    color: whitesmoke;
    font-size: 20px;
}

.btn_inscreva-se {
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    width: 259px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(108, 5, 143);
    margin-top: 6px;
}



.jogos{
    background-color: black;
    height: 93px;

}

.imagens_logos{
    display: flex;
align-items: center;
justify-content: space-evenly;
height: 89px;
    margin: 0px 33px;
}



.ligas {
    height: 438px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../imagem/bg-lol\ 1.png);
    background-size: cover;
    position: relative;
}

.box_retangulo {
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 9%);
background-color: #000;
height: 100%;
width: 100%;
}

.container_conteudo {
    display: flex;
    align-items: center;
    height: 100%;
}

.conteudo_retangulo {
    width: 49vw;
margin-left: 174px;
}

.conteudo_retangulo h2 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
}

.conteudo_retangulo p {
    color: #fff;
    font-size: 19px;
    text-align: justify;
}

.boneca {
    height: 444px;
    width: 316px;
    position: absolute;
    right: 208px;
    top: 0px;
}

    
            .aovivo_embreve {
                background-color: black;
                color: white;
                height: 100px;
                display: flex;
        }
    
        .ao_vivo{
            display: flex;
            justify-content: space-evenly;
            width: 82%;
            align-items: center;
        }

        .partidas{
             display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
         }
       
         .palavra_aovivo{
             font-size: 24px;
        width: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 26px;
         }

        .palavra_embreve{
            font-size: 24px;
width: 36px;
text-transform: uppercase;
font-weight: bold;
margin: 0 27px;
        }
        .span_e_imagem{
            display: flex;
            align-items: center;
        }

        .span_e_imagem span{
            text-transform: uppercase;
            height: 39px;
            width: 54px;
            margin: 18px 2px 8px 15px;
            font-size: 22px;
            align-items: center;
            display: flex;

        }

        .span_e_imagem img{
            width: 42px;
            height: 46px;
           margin: 9px 0px;
        }

        .span_e_imagem2{
            display: flex;
            align-items: center;
        }

        .span_e_imagem2 span{
            text-transform: uppercase;
           height: 32px;
           width: 42px;
           margin: 18px 0x 0px 0px;
           font-size: 22px

        }

        .span_e_imagem2 img{
            width: 25px;
            height: 26px;
            margin: 0px 33px 0 11px;
        }

        .noticias{
            background-color:rgba(30, 28, 33, 1);
            display: flex;
height: 0%;
width: 100%;
flex-direction: column;
        }

        .imagem_participante img{
            height: 20px;

        }

        .imagem_participante p{
         height: 20px;
        }

        .imagem_participante h1{
            height: 20px;

        }

        .noticias_proximos_jogos{
            background-color: rgba(30, 28, 33, 1);
            display: flex;
            height: 100%;
            width: 100%;
        }
        .noticias{
            display: flex;
        }

        .texto_noticia{
            color: white;
        }


        .traço_separativo {
            height: 40px;
            width: 1px;
            background-color: white;
        }
        
        .container_noticias {
            background-color: #1E1C21;
            height: 600px;
        }
        
        .noticias {
            display: flex;

        }
        
        .noticias h2 {
            color: white;
            margin: 23px 0 0px 191px;
        }
        
        .posicionamento_jogadora{
            display: flex;
            flex-wrap: wrap;
            width: 77%;
            justify-content: space-evenly;
            margin: 27px 148px;
        }

        .artigo{
            margin-bottom: 27px;
        }
         
    
        
        .artigo img {
            height: 127px;
            width: 179px;
        }
        
        .texto_noticia {
            height: 160px;
            width: 181px;
            background-color: rgb(60, 58, 58);
            
        }
        
        .texto_noticia h3 {
            color: white;
            width: 160px;
            margin-bottom: 10px;
        }
        
        .texto_noticia p {
            color: white;
            width: 160px;
            font-size: small;
        }
        

        .imagem_proximos_jogos{
            width: 100%;
height: 708px;
display: flex;
flex-direction: column;
position: relative;
right: 189px;
      
        }

        .proximos_jogos h2{
            color: #ffffff;
            margin: 21px 81px -47px 82px;
        }
        
        .box_jogos{
            width: 19vw;
            height: 617px;
            padding: 31px 0px;
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(45,45,45,1) 25%,rgba(45,45,45,1) 75%,rgba(45,45,45,1) 75%,rgb(45, 45, 45) 75%,rgba(0,0,0,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 84px 78px;
        }
        
        .conteudo_proximos_jogos{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            text-decoration: none;
            font-weight:normal;
            font-size: 25px;
        }
        
        .vs_sk{
            width: 17vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight:normal;
            font-size: 22px;
        }
        
        .data{
            margin: 13px 0;
        }
        

 .footer1 {
            padding: 13px;
            background-color: black;
        }

        .container_footer{
            display: flex;
align-items: center;

        }

        .links_footer {
            width: 24%;
            display: flex;
            justify-content: space-around;
            margin: auto;
        }
        
        .links {
            color: white;
        }
        
        .links a {
            text-decoration: none;
            color: white;
        }
        
       
        
        .logo_footer {
                width: 320px;
                display: flex;
                align-items: center;
                margin: auto;
        }
        
        .redes_sociais{
            margin: auto;
        }

        .redes_sociais h2 {
            color: white;
            font-size: 14px;
margin-bottom: 12px;
        }
        
        
        .redes_sociais form {
            display: flex;    
            margin-bottom: auto;
        }
        
        .redes_sociais input[type="email"]{
            width: 79%;
            height: 28px;
        }
        
        .redes_sociais input[type="email"]::placeholder {
            color: #B8B3B3;
            font-weight: bold;
        }
        
        .redes_sociais input[type="submit"]{
            width: 79%;
            color: white;
            background-color: #450393;
            font-size: 17px;
        
        }
        
        .siga {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 13px;
        }


        
   


    



        @media (max-width:480px){

            header{
                width: 100vw;
            }

            .container_header{
                justify-content: flex-start;
                align-items: center;
            }

            .logo {
                width: 256px;
                margin: 13px 70px;
            }

            .nav_header{
                background-color: black;
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;

            }

            .botao_hamburguer {
                display: inline-block;
                justify-content: flex-start;
                align-items: center;
            }

             .botao_hamburguer i{
                 color: #ffffff;
                 font-size: 30px;
             }

            .conteudo_banner img{
                display: none;
            }
            
            .texto_banner{
                margin-left: 53px;
                height: 296px;
            }

            .texto_banner h1 {
                font-size: 61px;
            }

            .texto_banner p {
                font-size: 23px;
            }

            .btn_inscreva-se {
                background-color: rgb(0, 0, 0);
                margin-top: 6px;
            }

            .jogos {
                background-color: black;
                height: 406px;
            }

            .imagens_logos {
                height: 57vh;
                flex-direction: column;
                display: flex;
            }

            .boneca {
                display: none;
            }

            .conteudo_retangulo p {
                font-size: 11px;
            }

            .conteudo_retangulo h2 {
                font-size: 37px;
            }

            .conteudo_retangulo {
                width: 67vw;
                margin-left: 104px;
            }



           .partidas{
               display: flex;
            flex-direction: column;
           }

            .aovivo_embreve {
                height: 32vh;
                display: flex;
                flex-direction: column;
            }

            .ao_vivo {
                flex-direction: column;
                display: flex;
            }

            .palavra_aovivo {
                font-size: 19px;
                width: 19vw;
                margin-top: 11px;
            }

            .palavra_embreve {
                font-size: 23px;
                width: 30vw;
                margin-top: 32px;
                margin-bottom: 10px;
            }


        .noticias_proximos_jogos{
             display: flex;
            flex-direction: column;
        }

            .noticias_proximos_jogo{
              display: flex;
              flex-direction: column;   
            }

            .noticias {
                display: flex;
                flex-direction: column;
            }
           

            .posicionamento_jogadora{
                width: 88%;
                margin: 25px 44px;
            }

             
            .box_jogos {
                width: 67vw;
                margin: 84px 78px;
            }

            .conteudo_proximos_jogos{
                margin-right: 112px;
            }

            .data {
                margin: 8px;
                    margin-left: 8px;
                margin-left: 118px;
            }

            .container_footer {
                display: flex;
                flex-direction: column;
            }

            .links_footer {
                width: 66%;
                display: flex;
                justify-content: space-around;
                margin: 19px 10px 18px 15px;
            }


        }









